torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
torchdiffeq==0.2.5
pandas
wandb
fairscale
gradio
packaging
transformers==4.43.3
diffusers==0.30.2
accelerate
pyyaml
pathlib
Ninja
bitsandbytes
httpx[socks]
einops
regex
h5py
pre-commit
